@typeparam TItem 
<div class="rz-cell-actions" style="display: flex; gap: 6px;"> 
    <RadzenButton Icon="visibility" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" Text="Ver" Click="@(() => OnView.InvokeAsync(Item))" /> 
    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Text="Editar" Click="@(() => OnEdit.InvokeAsync(Item))" /> 
    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" Text="Eliminar" Click="@(() => OnDelete.InvokeAsync(Item))" /> 
</div>


@code{
    [Parameter] public TItem Item { get; set; } = default!;
    [Parameter] public EventCallback<TItem> OnView { get; set; }
    [Parameter] public EventCallback<TItem> OnEdit { get; set; }
    [Parameter] public EventCallback<TItem> OnDelete { get; set; }
}