@page "/Cuenta/Administrar/CambiarContraseña"

@using System.ComponentModel.DataAnnotations
@using TodoSeUsa.Infrastructure.Data
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ChangePassword> Logger

<PageTitle>Cambiar contraseña</PageTitle>

<h3>Cambiar contraseña</h3>
<StatusMessage Message="@message" />
<div class="row">
    <div class="col-xl-6">
        <EditForm Model="Input" FormName="change-password" OnValidSubmit="OnValidSubmitAsync" method="post" autocomplete="off">
            <DataAnnotationsValidator />
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.OldPassword" id="Input.OldPassword" class="form-control" aria-required="true" auto-complete="off" placeholder="Ingrese su contraseña actual." />
                <label for="Input.OldPassword" class="form-label">Contraseña actual</label>
                <ValidationMessage For="() => Input.OldPassword" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.NewPassword" id="Input.NewPassword" class="form-control" autocomplete="off" aria-required="true" placeholder="Ingrese su nueva contraseña" />
                <label for="Input.NewPassword" class="form-label">Nueva contraseña</label>
                <ValidationMessage For="() => Input.NewPassword" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="form-control" autocomplete="off" aria-required="true" placeholder="Ingrese su nueva contraseña" />
                <label for="Input.ConfirmPassword" class="form-label">Confirme su contraseña</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Actualizar contraseña" Style="width: 100;"/>
        </EditForm>
    </div>
</div>

@code {
    private string? message;
    private ApplicationUser user = default!;
    private bool hasPassword;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        hasPassword = await UserManager.HasPasswordAsync(user);
        if (!hasPassword)
        {
            RedirectManager.RedirectTo("Cuenta/Ingresar");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var changePasswordResult = await UserManager.ChangePasswordAsync(user, Input.OldPassword, Input.NewPassword);
        if (!changePasswordResult.Succeeded)
        {
            await UserManager.AccessFailedAsync(user);

            if (await UserManager.IsLockedOutAsync(user))
            {
                Logger.LogWarning("User account locked out.");
                await SignInManager.SignOutAsync();
                RedirectManager.RedirectTo($"/Cuenta/Bloqueado?user={user.UserName}");
                return;
            }

            message = $"Error: {string.Join(",", changePasswordResult.Errors.Select(error => error.Description))}";
            return;
        }

        await SignInManager.RefreshSignInAsync(user);
        Logger.LogInformation("User changed their password successfully.");

        RedirectManager.RedirectToCurrentPageWithStatus("Tu contraseña ha sido cambiada", HttpContext);
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "Ingrese su contraseña actual")]
        [DataType(DataType.Password)]
        [Display(Name = "Contraseña actual")]
        public string OldPassword { get; set; } = "";

        [Required (ErrorMessage = "Ingrese su nueva contraseña")]
        [StringLength(100, ErrorMessage = "La {0} tiene que tener al menos {2} y máx. {1} carácteres de largo.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "nueva contraseña")]
        public string NewPassword { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "confirmar nueva contraseña")]
        [Compare("NewPassword", ErrorMessage = "La nueva contraseña y su confirmación no coinciden.")]
        public string ConfirmPassword { get; set; } = "";
    }
}
