@page "/Account/ForgotPassword"

@using Microsoft.AspNetCore.Identity
@using TodoSeUsa.Application.Security
@using TodoSeUsa.Infrastructure.Data

@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject IRecoveryCodeHasher RecoveryCodeHasher

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>¿Olvidaste tu contraseña?</PageTitle>

<RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
    <h1>¿Olvidaste tu contraseña?</h1>
    <RadzenCard Style="max-width: 480px">
        <h2>Recuperar mi cuenta</h2>
        <hr />
        <RadzenStack Style="margin-bottom: 2rem">
            <RadzenText>Para recuperar el acceso a su cuenta, ingrese el email con el que se registró y el código de recuperación que guardó en un lugar seguro.</RadzenText>
            <RadzenText>Si el email y el código ingresados son válidos, podrá cambiar la contraseña de su cuenta.</RadzenText>
        </RadzenStack>

        <RadzenStack Style="width: 100%">
            <RadzenTemplateForm TItem="string" Data=@email Submit="OnValidSubmitAsync">

                <RadzenStack Orientation="Orientation.Vertical" Style="margin-bottom: 2rem">

                    <RadzenStack Orientation="Orientation.Vertical" Gap="0px">
                        <RadzenLabel Text="Email" Component="EmailInput" />
                        <RadzenTextBox Name="EmailInput" @bind-Value=@email Placeholder="sunombre@ejemplo.com" Style="width: 100%;"/>
                        <RadzenEmailValidator Component="EmailInput" Text="Ingrese un email válido" />
                    </RadzenStack>

                    <RadzenStack Orientation="Orientation.Vertical" Gap="0px">
                        <RadzenLabel Text="Código de recuperación" Component="RecoveryCodeInput" />
                        <RadzenTextBox Name="RecoveryCodeInput" @bind-Value=@recoveryCode Placeholder="AAAA1111BBBB2222CCCC3333" Style="width: 100%" />
                        <RadzenRequiredValidator Component="RecoveryCodeInput" Text="Ingrese un código de recuperación" />
                    </RadzenStack>

                </RadzenStack>

                <RadzenButton ButtonType="ButtonType.Submit" Style="width: 100%;">Verificar</RadzenButton>

            </RadzenTemplateForm>
        </RadzenStack>

        @if (errors.Count > 0)
        {
            foreach (var error in errors)
            {
                <RadzenAlert AlertStyle="AlertStyle.Danger" ShowIcon="false" Variant="Variant.Flat" Shade="Shade.Lighter">
                    @error
                </RadzenAlert>
            }
        }
    </RadzenCard>
</RadzenStack>

@code {
    private List<string> errors = [];

    private string email { get; set; } = "";
    private string recoveryCode { get; set; } = "";

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(email);

        if (user is null)
        {
            errors.Add("Usuario incorrecto.");
            return;
        }

        var recoveryCodeHash = user.RecoveryCodeHash;

        var codesMatches = RecoveryCodeHasher.Verify(recoveryCode, recoveryCodeHash);

        if(!codesMatches)
        {
            errors.Add("Código de recuperación incorrecto.");
            return;
        }

        NavigationManager.NavigateTo("Account/ChangePassword");
    }
}
