@using System.Text.Json
@using TodoSeUsa.Application.Features.Boxes.DTOs
@using TodoSeUsa.Application.Features.Boxes.Interfaces

@inject DialogService DialogService;
@inject IBoxService BoxService;


<RadzenTemplateForm TItem="CreateBoxDto" Data=@createBoxDto Submit=@OnSubmit >
    <RadzenStack Gap="1rem">
        <RadzenFormField Text="Ubicación" Variant="@variant">
            <ChildContent>
                <RadzenTextBox Name="Location" @bind-Value=@createBoxDto.Location Style="border: 1px solid;"/>
            </ChildContent>
            <Helper>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <RadzenText TextStyle="TextStyle.Caption">* campo requerido</RadzenText>
                    <RadzenRequiredValidator Component="Location" Text="La ubicacion es obligatoria." />
                </div>
            </Helper>
        </RadzenFormField>

        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" class="rz-mt-8">
            <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Medium" Icon="save" Text="Guardar" />
        </RadzenStack>
    </RadzenStack>
</RadzenTemplateForm>



@code {

    Variant variant = Variant.Filled;

    CreateBoxDto createBoxDto = new();

    async Task OnSubmit(CreateBoxDto createBoxDto)
    {
        var result = await BoxService.CreateBoxAsync(createBoxDto, CancellationToken.None);
        DialogService.Close(result);
    }
}
