@inherits LayoutComponentBase
@layout TodoSeUsa.BlazorServer.Components.Layout.MainLayout

<h1>Mi cuenta</h1>

<div>
    <h2>Configuración de la cuenta</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3 pb-4">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
