@page "/error"

<PageTitle>Error</PageTitle>

<RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: calc(100% - 4.6rem)">

    <RadzenCard Variant="Variant.Outlined" Style="width: 720px">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">

            <img src="/assets/error/error.png" width="250" style="margin-right: 16px" />

            <RadzenStack Orientation="Orientation.Vertical">
                <h2 class="mb-2">Algo salió mal</h2>

                <p>Por favor, intente de nuevo o contacte al <a href="https://github.com/Abstr4">soporte <RadzenIcon Icon="link"></RadzenIcon></a> si el problema persiste.</p>
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>
</RadzenStack>
