@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using TodoSeUsa.Infrastructure.Data

@implements IDisposable

@inject UserManager<ApplicationUser> UserManager
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="assets/logo-white-text.svg"
             alt="TodoSeUsa"
             style="height: 30px;" />
    </a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house nav-icon" aria-hidden="true"></span> Inicio
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="cajas">
                        <span class="bi bi-box-seam nav-icon" aria-hidden="true"></span> Cajas
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="consignaciones">
                        <span class="bi bi-journal-text nav-icon" aria-hidden="true"></span> Consignaciones
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="productos">
                        <span class="bi bi-boxes nav-icon" aria-hidden="true"></span> Productos
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="consignadores">
                        <span class="bi bi-person-lines-fill nav-icon" aria-hidden="true"></span> Consignadores
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ventas">
                        <span class="bi bi-receipt nav-icon" aria-hidden="true"></span> Ventas
                    </NavLink>
                </div>

            </Authorized>

        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="acerca-de">
                <span class="bi bi-info-circle nav-icon" aria-hidden="true"></span> Acerca de
            </NavLink>
        </div>
    </nav>
</div>


@code {

    private bool anyUserExists = false;

    private string? currentUrl;

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        anyUserExists = await context.Users.AnyAsync();

        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}



